/*
make cross star graphics that sparkle (grow and go from darker yellow to lighter yellow)
*/

* {
    box-sizing: border-box;
}

nav.navbar.bg-body-tertiary,
nav.navbar.bg-body-tertiary a.navbar-brand,
nav.navbar.bg-body-tertiary a.nav-link {
    background-color: #fd9baa !important;
    color: #35065b !important;
}

select {
    background-color: #ffebf1;
    color: #35065b;
    border-radius: .5rem;
}

.input-wrapper {
    display: inline-block;
    position: relative;
}

.input-wrapper::before {
    font-family: 'FontAwesome';
    content: '\f002';
    position: absolute;
    bottom: 7px;
    left: 5px;
}

.search-bar {
    padding-left: 1.5rem;
    background-color: #ffebf1;
}

.search-btn {
    border-radius: 50%;
    margin-left: .5rem;
    background-color: #ffebf1;
}

.btn-outline-success {
    --bs-btn-color: #35065b;
    --bs-btn-border-color: #35065b;
    --bs-btn-hover-bg: #35065b;
    --bs-btn-hover-border-color: #35065b;
    --bs-btn-active-bg: #35065b;
    --bs-btn-active-border-color: #35065b;
    --bs-btn-disabled-color: #35065b;
    --bs-btn-disabled-border-color: #35065b;
}

body,
header,
nav, 
main {
    background-color: #fd9baa;
}

@keyframes star-color {
    0% {
        background-color: goldenrod;
    }
    25% {
        background-color: gold;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: yellowgreen;
    }
    100% {
        background-color: lemonchiffon;
    }
}

@keyframes star-grow {
    0% {
        width: .5rem;
        height: .5rem;
    }
    25% {
        width: .75rem;
        height: .75rem;
    }
    50% {
        width: 1rem;
        height: 1rem;
    }
    75% {
        width: .75rem;
        height: .75rem;
    }
    100% {
        width: .5rem;
        height: .5rem;
    }
}

.star {
    position: relative;
    margin: 1rem auto;
    width: .5rem;
    font-size: 1rem;
}

.star::before {
    content: "";
    position: absolute;
    background-color: yellow;
    width: .5rem;
    height: .5rem;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star::after {
    content: "";
    position: absolute;
    background-color: yellow;
    width: .5rem;
    height: .5rem;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}