{% extends "layouts.html" %}

{% block title %}
    Login
{% endblock %}

{% block header %}
    <h1>Register</h1>
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <label for="username_email">Username or Email</label>
        <input autofill="off" autofocus name="username_email" placeholder="Username or Email" type="text" required>
        <label for="password">Password</label>
        <input autofill="off" name="password" placeholder="Password" type="password" required>
        <button type="submit">Login</button>
    </form>

    <p><a href="/register">Register</a></p>
{% endblock %}